<div class="jraf-about-page">
    <h2 class="jraf-page-header">
        <oj-bind-text value="[[applicationHeader]]"></oj-bind-text>
    </h2>

    <p>
        <oj-bind-text value="[[version]]"></oj-bind-text>
    </p>
    <p>
        <oj-bind-text value="[[copyrightNotice]]"></oj-bind-text>
    </p>
    <p>
        <oj-bind-text value="[[trademarkNotice]]"></oj-bind-text>
    </p>
    <p>
        <oj-bind-text value="[[trademarkNotice2]]"></oj-bind-text>
    </p>
    <p>
        <oj-bind-text value="[[licenseRestrictionsWarranty]]"></oj-bind-text>
    </p>
    <p>
        <oj-bind-text value="[[warrantyDisclaimer]]"></oj-bind-text>
    </p>
    <p>
        <oj-bind-text value="[[restrictedRightsNotice]]"></oj-bind-text>
    </p>
    <p>
        <oj-bind-text value="[[usGovernmentEndUser]]"></oj-bind-text>
    </p>
    <p>
        <oj-bind-text value="[[hazardousApplicationsNotice]]"></oj-bind-text>
    </p>
    <p>
        <oj-bind-text value="[[thirdPartyContent]]"></oj-bind-text>
    </p>
    <p>
        <oj-bind-text value="[[docAccessibility]]"></oj-bind-text>
    </p>
    <p>
        <oj-bind-text value="[[docAccessibilityInfo]]"></oj-bind-text>
    </p>
    <p>
        <oj-bind-text value="[[supportAccess]]"></oj-bind-text>
    </p>
    <p>
        <oj-bind-text value="[[supportAccessInfo]]"></oj-bind-text>
    </p>
</div>

