<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/ksr_pos"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.source_locator_id" value="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"/>
    <stringAttribute key="org.eclipse.debug.core.source_locator_memento" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt; &lt;sourceLookupDirector&gt; &lt;sourceContainers duplicates=&quot;true&quot;&gt; &lt;container memento=&quot;&amp;lt;?xml version=&amp;quot;1.0&amp;quot; encoding=&amp;quot;UTF-8&amp;quot; standalone=&amp;quot;no&amp;quot;?&amp;gt;&amp;#13;&amp;#10;&amp;lt;default/&amp;gt;&amp;#13;&amp;#10;&quot; typeId=&quot;org.eclipse.debug.core.containerType.default&quot;/&gt; &lt;/sourceContainers&gt; &lt;/sourceLookupDirector&gt; "/>
    <stringAttribute key="org.eclipse.debug.ui.ATTR_CONSOLE_ENCODING" value="UTF-8"/>
    <booleanAttribute key="org.eclipse.jdt.debug.ui.CONSIDER_INHERITED_MAIN" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.debug.ui.INCLUDE_EXTERNAL_JARS" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="dtv.data2.dataloader.DataLoader"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ksr_pos"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Ddtv.util.config.ConfigPathPropertySourceImpl=dtv.xst.config.XstConfigPathPropertySource -Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager -Duser.dir.local=${workspace_loc:ksr_pos} -Ddtv.system.properties.location=${workspace_loc:ksr_pos}/system.properties -Ddtv.data2.access.pm.PmTypeHelper=dtv.data2.access.pm.SingleDataSourcePmTypeHelper -Dxstore.application.type=DATA_LOADER -Dspring.profiles.active=dataloader -Ddtv.util.crypto.SecretKeyCipherManager.keyStoreDirectory=${workspace_loc:ksr_pos}/res/keys -Ddtv.util.crypto.DtvKeyStoreManager.keyStoreDirectory=${workspace_loc:ksr_pos}/res/keys-Xms128m -Xmx256m"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:ksr_xstore}"/>
</launchConfiguration>
