<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <stringAttribute key="bad_container_name" value="\gro"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/ksr_pos"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
    <stringAttribute key="org.eclipse.debug.ui.ATTR_CONSOLE_ENCODING" value="UTF-8"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="dtv.pos.framework.form.design.FormDesigner"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-d ${workspace_loc:ksr_pos}/cust_config/version1/form"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ksr_pos"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Ddtv.system.properties.location=${workspace_loc:ksr_pos}/system.properties&#13;&#10;-Ddtv.util.crypto.SecretKeyCipherManager.keyStoreDirectory=${workspace_loc:ksr_pos}\res\keys -Ddtv.util.crypto.DtvKeyStoreManager.keyStoreDirectory=${workspace_loc:ksr_pos}\res\keys -Dfile.encoding=UTF8 -Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:ksr_xstore}"/>
</launchConfiguration>
