<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <stringAttribute key="bad_container_name" value="\ksr_xenvironment\l"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/release/xenvironment/environment/lib/ext/jetty-start-9.4.40.v20210413.jar"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.eclipse.jetty.start.Main"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="ksr_xenvironment"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="${workspace_loc:release}\xenvironment\environment\etc\jetty.xml"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ksr_xenvironment"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djetty.logs=./log -Djava.security.auth.login.config=${workspace_loc:release}\xenvironment\environment\etc\login.conf -Dorg.eclipse.jetty.LEVEL=INFO -Dxstore.config.path.global.extensions=:xenvdev -Dlog4j.configurationFile=${workspace_loc:release}/xenvironment/environment/config/log4j2.xml&#13;&#10;-Djetty.base=${workspace_loc:release}\xenvironment\environment"/>
</launchConfiguration>
