#set ($subject = "Suporte do Xadmin: Alertas Críticos")

<!DOCTYPE HTML><html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <title>$subject</title>
</head>
  <body>
    #foreach( $alert in $alerts ) <b>$alert.EventTimestamp : $alert.AlertName ocorreu $alert.EventCount vezes na Loja $alert.RtlLocId Registrar $alert.WkstnId:</b><br> $alert.EventDetails<br> <br> #end
  </body>
<html>