#set ($subject = "Necessaria approvazione schema")

<!DOCTYPE HTML><html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <title>$subject</title>
</head>
<body>
<table id="wrapper"><tr><td>
  <table id="introtxt">
    <tr>
      <td style="font-family: Calibri; font-size: 15px; font-weight: bold;">
        La distribuzione seguente include uno schema pianificato con "Approvazione obbligatoria". </br> <a href="$content.link">Eseguire l'accesso a Xadmin</a> e approvare lo schema prima della data pianificata, in modo che la distribuzione possa essere eseguita puntualmente.
      </td>
    </tr>
  </table>
</br>
  <table id="detail">
    <tr>
      <td style="font-family: Calibri; font-size: 16px; font-weight: bold; text-decoration: underline;">
        Distribuzione:
      </td>
      <td style="font-family: Calibri; font-size: 15px; font-weight: bold; font-style: italic;">
        &nbsp;&nbsp;$content.deploymentName
      </td>
    </tr>
    
    <tr>
      <td style="font-family: Calibri; font-size: 16px; font-weight: bold; text-decoration: underline;">
        Schema:
      </td>
      <td style="font-family: Calibri; font-size: 15px; font-weight: bold; font-style: italic;">
        &nbsp;&nbsp;$content.waveName
      </td>
    </tr>
    
    <tr>
      <td style="font-family: Calibri; font-size: 16px; font-weight: bold; text-decoration: underline;">
        Data schema pianificata:
      </td>
      <td style="font-family: Calibri; font-size: 15px; font-weight: bold; font-style: italic;">
        &nbsp;&nbsp;$content.waveDate
      </td>
    </tr>
  </table>
</br>
</br>
</td></tr></table>
</body>
</html>