#set ($subject = "Wymagane zatwierdzenie rzutu")

<!DOCTYPE HTML><html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <title>$subject</title>
</head>
<body>
<table id="wrapper"><tr><td>
  <table id="introtxt">
    <tr>
      <td style="font-family: Calibri; font-size: 15px; font-weight: bold;">
        Następujące wdrożenie zawiera rzut zaplanowany jako "Wymagane zatwierdzenie". </br> <a href="$content.link">Proszę zalogować się do modułu Xadmin</a> i zatwierdzić ten rzut przed zaplanowaną datą, aby wdrożenie zostało uruchomione terminowo.
      </td>
    </tr>
  </table>
</br>
  <table id="detail">
    <tr>
      <td style="font-family: Calibri; font-size: 16px; font-weight: bold; text-decoration: underline;">
        Wdrożenie:
      </td>
      <td style="font-family: Calibri; font-size: 15px; font-weight: bold; font-style: italic;">
        &nbsp;&nbsp;$content.deploymentName
      </td>
    </tr>
    
    <tr>
      <td style="font-family: Calibri; font-size: 16px; font-weight: bold; text-decoration: underline;">
        Rzut:
      </td>
      <td style="font-family: Calibri; font-size: 15px; font-weight: bold; font-style: italic;">
        &nbsp;&nbsp;$content.waveName
      </td>
    </tr>
    
    <tr>
      <td style="font-family: Calibri; font-size: 16px; font-weight: bold; text-decoration: underline;">
        Zaplanowana data rzutu:
      </td>
      <td style="font-family: Calibri; font-size: 15px; font-weight: bold; font-style: italic;">
        &nbsp;&nbsp;$content.waveDate
      </td>
    </tr>
  </table>
</br>
</br>
</td></tr></table>
</body>
</html>