#set ($subject = "Aprobación de ciclos necesaria - Retenido")

<!DOCTYPE HTML><html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <title>$subject</title>
</head>
<body>
<table id="wrapper"><tr><td>
  <table id="introtxt">
    <tr>
      <td style="font-family: Calibri; font-size: 15px; font-weight: bold;">
        El siguiente despliegue tiene un ciclo programado como "Aprobación necesaria". </br> El despliegue está retenido porque no se ha aprobado el ciclo antes de la fecha programada. <a href="$content.link">Conéctese a Xadmin</a> y apruebe este ciclo lo antes posible para que el despliegue pueda continuar.
      </td>
    </tr>
  </table>
</br>
  <table id="detail">
    <tr>
      <td style="font-family: Calibri; font-size: 16px; font-weight: bold; text-decoration: underline;">
        Despliegue:
      </td>
      <td style="font-family: Calibri; font-size: 15px; font-weight: bold; font-style: italic;">
        &nbsp;&nbsp;$content.deploymentName
      </td>
    </tr>
    
    <tr>
      <td style="font-family: Calibri; font-size: 16px; font-weight: bold; text-decoration: underline;">
        Ciclo:
      </td>
      <td style="font-family: Calibri; font-size: 15px; font-weight: bold; font-style: italic;">
        &nbsp;&nbsp;$content.waveName
      </td>
    </tr>
    
    <tr>
      <td style="font-family: Calibri; font-size: 16px; font-weight: bold; text-decoration: underline;">
        Fecha de ciclo programada:
      </td>
      <td style="font-family: Calibri; font-size: 15px; font-weight: bold; font-style: italic;">
        &nbsp;&nbsp;$content.waveDate
      </td>
    </tr>
  </table>
</br>
</br>
</td></tr></table>
</body>
</html>