#set ($subject = "Требуется утверждение цепочки - заблокировано")

<!DOCTYPE HTML><html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <title>$subject</title>
</head>
<body>
<table id="wrapper"><tr><td>
  <table id="introtxt">
    <tr>
      <td style="font-family: Calibri; font-size: 15px; font-weight: bold;">
        В следующем развертывании имеется цепочка, запланированная как требующая утверждения. </br> Развертывание заблокировано, так как цепочка не была утверждена к запланированной дате. <a href="$content.link">Войдите в Xadmin</a> и как можно скорее утвердите эту цепочку, чтобы можно было продолжить развертывание.
      </td>
    </tr>
  </table>
</br>
  <table id="detail">
    <tr>
      <td style="font-family: Calibri; font-size: 16px; font-weight: bold; text-decoration: underline;">
        Развертывание:
      </td>
      <td style="font-family: Calibri; font-size: 15px; font-weight: bold; font-style: italic;">
        &nbsp;&nbsp;$content.deploymentName
      </td>
    </tr>
    
    <tr>
      <td style="font-family: Calibri; font-size: 16px; font-weight: bold; text-decoration: underline;">
        Цепочка:
      </td>
      <td style="font-family: Calibri; font-size: 15px; font-weight: bold; font-style: italic;">
        &nbsp;&nbsp;$content.waveName
      </td>
    </tr>
    
    <tr>
      <td style="font-family: Calibri; font-size: 16px; font-weight: bold; text-decoration: underline;">
        Запланированная дата цепочки:
      </td>
      <td style="font-family: Calibri; font-size: 15px; font-weight: bold; font-style: italic;">
        &nbsp;&nbsp;$content.waveDate
      </td>
    </tr>
  </table>
</br>
</br>
</td></tr></table>
</body>
</html>