#set ($subject = "Ihr vergessenes Xadmin-Kennwort")

<!DOCTYPE HTML><html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <title>$subject</title>
</head>
  <body>
    Sie erhalten diese E-Mail, weil Sie die Wiederherstellung eines vergessenen Kennworts angefordert haben. Melden Sie sich mit folgendem Kennwort an:<br><br> Kennwort: <b>$password</b><br><br> Nach der Anmeldung müssen Sie dieses Kennwort ändern.<br>
  </body>
<html>