#set ($subject = "Zapomniane hasło Xadmin")

<!DOCTYPE HTML><html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <title>$subject</title>
</head>
  <body>
    Ta wiadomość e-mail została wysyłana w odpowiedzi na żądanie odzyskania zapomnianego hasła. Aby się zalogować, proszę użyć poniższego hasła:<br><br> Hasło: <b>$password</b><br><br> Po zalogowaniu pojawi się prośba o zmianę hasła.<br>
  </body>
<html>