#set ($subject = "Uw vergeten Xadmin wachtwoord")

<!DOCTYPE HTML><html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <title>$subject</title>
</head>
  <body>
    Deze e-mail wordt verzonden als reactie op uw aanvraag om een vergeten wachtwoord te herstellen. Gebruik het onderstaande wachtwoord om in te loggen:<br><br> wachtwoord: <b>$password</b><br><br> Bij het inloggen moet u uw wachtwoord wijzigen.<br>
  </body>
<html>