#set ($subject = "您已忘記 Xadmin 密碼")

<!DOCTYPE HTML><html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <title>$subject</title>
</head>
  <body>
    傳送此電子郵件是為了回應您復原所忘記密碼的要求。請使用下方的密碼進行登入：<br><br> 密碼：<b>$password</b><br><br> 登入時，系統會要求您變更密碼。<br>
  </body>
<html>