#set ($subject = "忘记 Xadmin 密码")

<!DOCTYPE HTML><html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <title>$subject</title>
</head>
  <body>
    发送这封电子邮件是因为您请求恢复忘记的密码。请使用下面的密码登录：<br><br> 密码：<b>$password</b><br><br> 登录后，需要您更改密码。<br>
  </body>
<html>