#set ($subject = "Su contraseña de Xadmin olvidada")

<!DOCTYPE HTML><html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <title>$subject</title>
</head>
  <body>
    Este mensaje se ha enviado en respuesta a su solicitud para recuperar la contraseña olvidada. Utilice la siguiente contraseña para conectarse:<br><br> contraseña: <b>$password</b><br><br> Al conectarse, se le pedirá que cambie la contraseña.<br>
  </body>
<html>