#set ($subject = "Забыли пароль Xadmin")

<!DOCTYPE HTML><html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <title>$subject</title>
</head>
  <body>
    Это сообщение направлено вам в ответ на ваш запрос о восстановлении забытого пароля. Используйте для входа следующий пароль:<br><br> пароль: <b>$password</b><br><br> После входа вам будет предложено сменить пароль.<br>
  </body>
<html>