#set ($subject = "Your forgotten Xadmin Password")
<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>$subject</title>
</head>
  <body>
    This email is being sent in response to your request to recover a forgotten password. Please use the password below to log in:<br><br>
         password : <b>$password</b><br><br>
    Upon logging in, you will be required to change your password.<br>
  </body>
<html>