#set ($subject = "Glömt Xadmin-lösenord")

<!DOCTYPE HTML><html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <title>$subject</title>
</head>
  <body>
    Det här e-postmeddelandet har skickats som svar på din begäran om återställning av ett glömt lösenord. Använd lösenordet nedan för att logga in:<br><br> lösenord: <b>$password</b><br><br> När du loggar in ombeds du ändra ditt lösenord.<br>
  </body>
<html>