#set ($subject = "Sua Senha de Xadmin esquecida")

<!DOCTYPE HTML><html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <title>$subject</title>
</head>
  <body>
    Este e-mail está sendo enviado em resposta à sua solicitação para recuperar uma senha esquecida. Use a senha abaixo para fazer log-in:<br><br> senha : <b>$password</b><br><br> Após efetuar log-in, será necessário alterar sua senha.<br>
  </body>
<html>