#set ($subject = "Mot de passe Xadmin oublié")

<!DOCTYPE HTML><html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <title>$subject</title>
</head>
  <body>
    Ce courriel est envoyé en réponse à votre demande de récupération d'un mot de passe oublié. Utilisez le mot de passe ci-dessous pour vous connecter :<br><br> mot de passe : <b>$password</b><br><br> Une fois connecté, vous serez invité à modifier votre mot de passe.<br>
  </body>
<html>