#set ($subject = "Password Xadmin dimenticata")

<!DOCTYPE HTML><html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <title>$subject</title>
</head>
  <body>
    Questa e-mail viene inviata in risposta alla richiesta di recupero di una password dimenticata. Utilizzare la password indicata di seguito per eseguire il login.<br><br> Password: <b>$password</b><br><br> Dopo il login, verrà richiesto di modificare la password.<br>
  </body>
<html>