#set ($subject = "كلمة مرور Xadmin المنسيّة الخاصة بك")

<!DOCTYPE HTML><html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <title>$subject</title>
</head>
  <body>
    يتم إرسال رسالة البريد الإلكتروني هذه ردًا على طلبك الخاص باستعادة كلمة مرور منسيّة. الرجاء استخدام كلمة المرور أدناه لتسجيل الدخول:<br><br> كلمة المرور: <b>$password</b><br><br> بمجرد أن يتم تسجيل الدخول، سيُطلب منك تغيير كلمة المرور الخاصة بك.<br>
  </body>
<html>